<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front-end Template - DESP.PRO</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>

    <div class="flex flex-col justify-center items-center w-full min-h-screen">
        <a href="https://desp.pro/" target="_blank">
            <img src="/assets/images/logo.png" alt="" class="w-60 h-60 object-contain mb-10">
        </a>
        <div class="text-4xl text-black font-bold mb-1.5">Front-end Template</div>
        <div class="text-base text-gray-400 mb-10">based on 
            <a href="https://laravel-mix.com/" target="_blank" class="underline hover:no-underline">Laravel Mix</a>
        </div>
        <div class="flex">
            <a href="https://desp.pro/" target="_blank" class="text-xs text-gray-400 hover:text-blue-400 transition transition-colors mx-2">DESP.PRO</a>
            <a href="https://github.com/desp-pro/frontend-template" target="_blank" class="text-xs text-gray-400 hover:text-blue-400 transition transition-colors mx-2">GitHub</a>
            <a href="https://t.me/tdesp" target="_blank" class="text-xs text-gray-400 hover:text-blue-400 transition transition-colors mx-2">Telegram</a>
        </div>
    </div>

    <script src="/assets/js/app.js"></script>
</body>
</html>